@font-face {
    font-family: plusjakarta;
    src: url(./fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

*{
    font-family: plusjakarta;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: hsl(202, 86%, 94%);
}

main{
    background-color: white;
    padding: 0;
    display:inline-flex;
    gap: 20px;
    flex-direction: row;
    border-radius: 20px;
}

.calc{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

button{
    padding: 18px;
    border-radius: 36px;
    border: 1px white solid;
    background-color: hsl(61, 70%, 52%);
    max-width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

button:hover{
    background-color: hsla(61, 70%, 52%, 0.569);
}

input{
    padding: 12px;
}

.rse{
    background-color: hsl(61, 70%, 52%);
    cursor:pointer;
}

.selec{
    padding: 12px;
    font-size: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    border: 2px solid black;
    border-radius: 5px;
    cursor:pointer;

}

.clr{
    text-decoration: underline;
    cursor: pointer;
}

.clr:hover{
    color: hsl(70, 100%, 68%);
}

.rse{
    accent-color: hsl(61, 70%, 52%);
}

.selec:hover{
    background-color: hsla(61, 70%, 52%, 0.445);
    border-color: hsl(61, 70%, 52%);
}

.tr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.result{
    max-width: 360px;
    background-color: rgb(7, 7, 72);
    color: white;
    padding: 12px;
    margin: 0px;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > p {
        text-align: center;
    }
}

.inputs{
    > input {
        width: 85%;
    }
}

.container{
    padding-left: 12px;
}

.hint{
    padding: 12px;
}

.money{
    background-color: rgb(13, 13, 39);
    padding: 20px;
    border-top: 1px solid hsl(70, 100%, 68%);
}

.mcon:first-child{
    > h1 {
        color: hsl(70, 100%, 68%);
    }
}

.mcon:last-child{
    border-top: 1px rgb(56, 56, 56) solid;
    > h1 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 941px){
    main{
        flex-direction: column;
        margin: 0;
        border-radius: 0;
    }
    body{
        margin: 0;
    }

    .result{
        max-width: none;
        border-radius: 0px;
    }
}

@media only screen and (max-width: 513px){
    .tr{
        flex-direction: column;
    }
    .head{
        flex-direction: column;
        justify-content: center;
        gap: 0px;
        align-items: first baseline;
    }

    .container div input{
        width: 75%;
    }
    
    .container:last-child div input{
        width: 75%;
    }
    
    button{
        max-width: none;
    }
}

@media only screen and (max-width: 461px){
    .inputs input{
        width: 80%;
    }
}

@media only screen and (max-width: 425px){
    .container div input{
        width: 65%;
    }
    
    .container:last-child div input{
        width: 65%;
    }
}

@media only screen and (max-width: 353px){
    .inputs input {
        width: 70%;
    }
}